%table.table
  %thead
    %tr
      %th Title (en)
      %th Title (jp)
      %th Start date
      %th Ignore
      %th Airs on
      %th Duration
      %th Episodes
      %th MAL
      %th edit
  %tbody
    - @animes.each do |a|
      %tr
        %td= a.title_en
        %td= a.title_jp
        %td= format_date(a.start_date)
        %td= a.ignore_dates
        %td= a.air_days
        %td= "#{a.duration_minutes} min"
        %td= a.episode_count
        %td=link_to a.mal_id, "http://myanimelist.net/anime/#{a.mal_id}"
        %td=link_to 'edit', url(:anime, :edit, a.id)

- form_for :anime, url(:anime, :create) do |f|
  =partial "admin/anime_form", :locals => { :f => f }
=link_to "logout", url(:admin, :logout)
