- @title = @action == :upcoming ? t(:title_upcoming) : t(:title_airing)
- content_for :header_right do
  =link_to 'English', url(:home), :class => I18n.locale == :en ? 'active' : ''
  =link_to '日本語', url(:home, :locale => 'ja'), :class => I18n.locale == :ja ? 'active' : ''
  =link_to 'RSS', @rss_url
%table.anime-table.table
  - @animes.each do |a_obj|
    - a = a_obj[:model]
    %tr
      %td.title
        - a_title = I18n.locale == :en ? a.title_en : a.title_ja
        - if session[:is_admin]
          =link_to a_title, url(:anime, :edit, a.id)
        - else
          = a_title
      - if a_obj[:on_air_now]
        %td.on-air{:colspan => "2"}= t(:currently_airing)
      - elsif not a.airing?
        %td.not-airing{:colspan => "2"}= t(:starts_airing_x, :x => time_diff(a.start_date, Time.now))
      - else
        %td.prev= "#{t(:episode_x, :x => a_obj[:status][:prev_episode_number])} #{t(:aired_x_ago, :x => time_diff(Time.now, a_obj[:status][:prev_date])).downcase}"
        %td.next= "#{t(:episode_x, :x => a_obj[:status][:prev_episode_number]+1)} #{t(:airs_in_x, :x => time_diff(Time.now, a_obj[:status][:next_date])).downcase}"
      %td.links=link_to image_tag("favicon-mal.png", :alt => "MAL"), "http://myanimelist.net/anime/#{a.mal_id}"

- if session[:is_admin]
  - form_for :anime, url(:anime, :create), :id => "anime-form" do |f|
    =partial "anime/form", :locals => { :f => f }
