- @title = "Anime schedule"
=link_to 'English', url(:home), :class => I18n.locale == :en ? 'active' : ''
=link_to '日本語', url(:home, :locale => 'ja'), :class => I18n.locale == :ja ? 'active' : ''
=link_to 'RSS', url(:home, :locale => I18n.locale, :format => 'rss')
%table.table
  %thead
    %tr
      %th Title
      %th Previous episode
      %th Next episode
      %th Links
  %tbody
    - @animes.each do |a|
      %tr
        %td
          - a_title = I18n.locale == :en ? a.title_en : a.title_ja
          - if session[:is_admin]
            =link_to a_title, url(:anime, :edit, a.id)
          - else
            = a_title
        - a_on_air = a.on_air_now?
        - if a_on_air or not a.airing?
          %td{:colspan => "2"}
            - if a_on_air
              = "Currently airing (#{time_diff(a_on_air, Time.now)} left of #{a.duration_minutes} minutes)"
            - elsif a.finished_airing?
              = "Finished airing #{a.episode_count} episodes"
            - else
              = "Starts airing in #{time_diff(Time.now, a.start_date)}"
        - else
          - status = a.status
          %td= "Episode #{status[:prev_episode_number]} aired #{time_diff(Time.now, status[:prev_date])} ago"
          %td= "Episode #{status[:prev_episode_number]+1} airs in #{time_diff(Time.now, status[:next_date])}"
        %td=link_to a.mal_id, "http://myanimelist.net/anime/#{a.mal_id}"

- if session[:is_admin]
  - form_for :anime, url(:anime, :create) do |f|
    =partial "anime/form", :locals => { :f => f }
  =link_to "logout", url(:admin, :logout)
