- @title = @action == :upcoming ? t(:title_upcoming) : t(:title_airing)
- content_for :header_right do
  =link_to 'English', url(@action), :class => I18n.locale == :en ? 'active' : ''
  =link_to '日本語', url(@action, :locale => 'ja'), :class => I18n.locale == :ja ? 'active' : ''
  =link_to 'RSS', url(@action, :locale => I18n.locale, :format => 'rss')
%table.anime-table.table
  - @animes.each do |a_obj|
    - a = a_obj[:model]
    %tr
      %td.title=link_to a.title, session[:is_admin] ? url(:anime, :edit, a.id) : url(:anime, :index, a.id, :locale => locale_string)
      - if a_obj[:on_air_now]
        %td.on-air{:colspan => "2"}= t(:currently_airing)
      - elsif not a.airing?
        %td.not-airing{:colspan => "2"}
          %p.time-wrap= t(:starts_airing_x, :x => "<span class='time'>#{time_diff(a.start_date, Time.now)}</span>")
      - else
        %td.prev= "#{t(:episode_x, :x => a_obj[:status][:prev_episode_number])} <p class='time-wrap'>#{t(:aired_x_ago, :x => "<span class='time'>#{time_diff(Time.now, a_obj[:status][:prev_date])}</span>").downcase}</p>"
        %td.next= "#{t(:episode_x, :x => a_obj[:status][:prev_episode_number]+1)} <p class='time-wrap'>#{t(:airs_in_x, :x => "<span class='time'>#{time_diff(Time.now, a_obj[:status][:next_date])}</span>").downcase}</p>"

- if session[:is_admin]
  - form_for :anime, url(:anime, :create), :id => "anime-form" do |f|
    =partial "anime/form", :locals => { :f => f }
